<%- include("../../partials/header.ejs")  %> 

<%- include("../../partials/navbar.ejs") %> 

<div class="login-name">
    <%= seller.name %>
</div>
<div class="container center-box">
    <div class="row justify-content-around">
        <div class="card col-12 col-md-4">
            <a href="/sale">
                <div class="card-img">
                    <img src="/img/sale.jpg" class="img-fluid">
                </div>
                <div class="card-title">
                    Realizar Venda
                </div>
            </a>
        </div>

        <div class="card col-12 col-md-4 blue">
            <a href="/register/fast">
                <div class="card-img">
                    <img src="/img/register-fast.jpg" class="img-fluid">
                </div>
                <div class="card-title">
                    Cadastro simplificado
                </div>
            </a>
        </div>
    </div>
</div>

<%- include("../../partials/footer.ejs")  %> 