<%- include("../partials/header.ejs")  %> 

<%- include("../partials/navbar.ejs") %> 

<div class="container center-box">

    <div class="row justify-content-around">
        <div class="card col-12 col-md-3 mt-2">
            <a href="/login">
                <div class="card-img">
                    <img src="/img/supermarket.jpg" class="img-fluid">
                </div>
                <div class="card-title">
                    Entrar como Super Mercado
                </div>
            </a>
        </div>

        <div class="card col-12 col-md-3 green mt-2">
            <a href="/login">
                <div class="card-img">
                    <img src="/img/customer.jpg" class="img-fluid">
                </div>
                <div class="card-title">
                    Entrar como cliente
                </div>
            </a>
        </div>

        <div class="card col-12 col-md-3 blue mt-2">
            <a href="/login">
                <div class="card-img">
                    <img src="/img/seller.jpg" class="img-fluid">
                </div>
                <div class="card-title">
                    Entrar como vendedor
                </div>
            </a>
        </div>
    </div>
</div>

<%- include("../partials/footer.ejs")  %> 