<%- include("../partials/header.ejs")  %> 

<%- include("../partials/navbar.ejs") %> 

<div class="container center-box">
    <div class="row justify-content-around">
        <div class="card col-12 col-md-4">
            <a href="/register/supermarket">
                <div class="card-img">
                    <img src="/img/supermarket.jpg" class="img-fluid">
                </div>
                <div class="card-title">
                    Cadastrar Super Mercado
                </div>
            </a>
        </div>

        <div class="card col-12 col-md-4 green">
            <a href="/register/customer">
                <div class="card-img">
                    <img src="/img/customer.jpg" class="img-fluid">
                </div>
                <div class="card-title">
                    Cadastrar como cliente
                </div>
            </a>
        </div>
    </div>
</div>

<%- include("../partials/footer.ejs")  %> 