<%- include("../partials/header.ejs")  %> 

<%- include("../partials/navbar.ejs") %> 

<div class="container">
    <div class="title row">
        <div class="title-img col-4">
            <img src="/assets/supermarket/supermarket-example.png" alt="Super mercado exemplo" class="img-fluid">
        </div>
        <div class="title-name col-8">
            <h3>Super Mercado Exemplo</h3>
            <p class="pt-1">Trazendo conforto e qualidade para nossos clientes!</p>
            <p class="pt-1">Localização: Avenida Almeida Lustosa, 1020</p>
        </div>
    </div>

    <div class="table-responsive mt-4">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
                <th scope="col">Marca</th>
                <th scope="col">Valor(R$)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Coca-Cola</td>
                <td>Refrigerante de cola.</td>
                <td>Coca-cola</td>
                <td>9.0</td>
              </tr>
              <tr>
                <td>Biscoito de Chocolate</td>
                <td>Biscoito recheado sabor chocolate.</td>
                <td>Richester</td>
                <td>120.55</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>

<%- include("../partials/footer.ejs")  %> 