*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #fff url("../img/fundo.png") repeat-x;
}

#container{
    width: 750px;
    margin: 0 auto;
    
}

#topo{
    height: 150px;
    padding-top: 25px;
    
    background: url("../img/detalhe-topo.png") no-repeat right top ;
}

.logo{
    width: 152px;
    height: 66px;
    background: url("../img/logo.png") no-repeat center;
    text-indent: -3000px;
}

#conteudo{
    margin-top: 60px;
    background: #929191;
}

#lateral{
    width: 180px;
    margin: 0 0 20px -750px;
    float: left;
}

#primario{
    width: 270px;
    margin: 0 0 20px 195px;
    float: left;
}

#duas-colunas #primario{
    width: 555px;
}

#uma-coluna #primario{
    width: 750px;
    margin: 0 0 20px 0;
}

#secundario{
    width: 270px;
    margin: 0 0 20px 15px;
    float: left;
}

#container-rodape{
    clear: both;
    padding: 20px;
    background: #294c71;
}

#rodape{
    width: 750px;
    margin: 0 auto;
    color: #fff;
}

label{
    display: block;
    cursor: pointer;
    margin-bottom: 10px;
}

input{
    margin-bottom: 10px;
    width: 160px;
    padding: 5px;
    font-size: 0.9em;
    background-color: #fff;
}

input[type="submit"]{
    width: 80px;
    color: #fff;
    background-color: #b10333;
    border: 2px solid #870529;
    padding: 5px;
    cursor: pointer;
}

/* Configuração das Caixas de Conteúdo*/
.caixa{
    margin: 10px 0;
    padding: 5px;
    background: #f3f3f3 url("../img/fundo-caixa.png");
}

.caixa-conteudo{
    background: #fff;
    padding: 5px;
    margin-top: 10px;

}

h2{
    padding: 5px;
    font-size: 1.1em;
    background: #294c71;
    color: #fff;
}

h3{
    font-size: 0.9em;
    background: #de003e;
    color: #fff;
    text-transform: uppercase;
    width: fit-content;
    padding: 3px;
    margin: 10px 0 5px 5px;
}

#secundario h3{
    background: #870529;
}

.noticia{
    font-weight: bolder;
}

.noticia img{
    width: 90%;
    padding: 10px;
    border: 2px solid #dfdfdf;
}

.noticia a{
    text-decoration: none;
    color: #870529;
}

/*Lista de Notícia*/
#lista-noticia li a img{
    height: 60px;
    width: 80px;
    float: left;
    margin: 5px;
    overflow: auto;
}
#lista-noticia li{
    padding: 2px;
    border-bottom: 1px solid #ccc;
    height: 65px;
}

#lista-noticia li a{
    text-decoration: none;
}

#lista-noticia li:hover{
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#lista-noticia li a h4{
    font-size: 0.8em;
    padding: 0;
    color: #3e7ab9;
}

#lista-noticia li a p{
    font-size: 0.7em;
}



/* Configurações de Barras de Navegação*/
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}


/*Navegação do Topo*/
#topo ul{
    background: #b10333;
    margin-top: 30px;
    float: left;
}

#topo ul li{
    float: left;
}

#topo ul a{
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: aliceblue;
    background: url("../img/divisor.png") no-repeat left center;
}

#topo ul .primeiro a{
    background: none;
}

#topo ul a:hover{
    color: #69001d;
}

body.home #nav-topo a#home,
body.brasil #nav-topo a#brasil,
body.internacional #nav-topo a#internacional,
body.economia #nav-topo a#economia,
body.saude #nav-topo a#saude,
body.ciencia #nav-topo a#ciencia,
body.fotos #nav-topo a#fotos{
    color: #fff;
    background: #de003e;
    cursor: text;
}

/*Navegação Lateral*/
#lateral ul a{
    font-size: 0.9em;
    padding: 2px;
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
}

#lateral ul a:hover{
    background: #f9f9f9 url("../img/marcador.png") left center no-repeat;
    color: #a1a1a1;
    padding-left: 20px;
}
