nav.navbar{
    position: sticky;
    top: 0;
    background-color: #E35959;
    padding-right: 16px;
    padding-left: 16px;
}

nav .navbar-brand, nav .nav-link{
    color: #FFFFFF;
    box-sizing: border-box;
    margin: 1px 0px;
    transition: all ease-in-out;
}

nav .navbar-brand{
 font-weight: bold;
}

nav .nav-link:hover{
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 0px;
}