<%- include("../../partials/header.ejs")  %> 

<%- include("../../partials/navbar.ejs") %> 

<div class="container">
    <div class="row mt-4">
        <div class="col-12 col-md-6 mb-3">
            <h5 class="chart-title">Produtos mais comprados</h5>
            <div class="chart-body">
                <img src="/assets/supermarket/chart.png" class="img-fluid" width="240">
            </div>
        </div>

        <div class="col-12 col-md-6 mb-3">
            <h5 class="chart-title">Gastos por supermercados</h5>
            <div class="chart-body">
                <img src="/assets/supermarket/chart.png" class="img-fluid" width="240">
            </div>
        </div>

        <div class="col-12 mb-3">
            <h5 class="chart-title">Gasto mensal em compras</h5>
            <div class="chart-body">
                <img src="/assets/supermarket/chart.png" class="img-fluid" width="240">
            </div>
        </div>
    </div>
</div>

<%- include("../../partials/footer.ejs")  %> 