/* ----- LAYOUT ----- */
html, body, #home{
    height: 100%;
    overflow-x: hidden;
}

#premium{
    height: 85%;
}

body{
    background: url('../img/capa.png'),
                url('../img/ruido.png'),
                linear-gradient(50deg, #ff4169, #7c26f8);
    background-attachment: fixed;
    font-family: inherit;
}

/* Breakpoints */

@media (max-width: 575.98px){ /* Extra Small */
    h1.display-1{
        font-size: 3em;
    }

    #premium h1.display-1{
        font-size: 2.8em;
    }

    #premium h2{ 
        font-size: 1.25em; 
    }

    .btn-custom{
        margin: 10px auto;
        width: 100%;
        font-size: 1em;
    }
}

@media (min-width: 576px) and (max-width: 767.98px){/* Small */
    h1.display-1{
        font-size: 3.5em;
    }

    .btn-custom{
        margin: 10px 15px;
    }

    #premium h1.display-1{
        font-size: 2.8em;
    }

    #premium h2{ 
        font-size: 1.25em; 
    }
}

@media (min-width: 768px) and (max-width: 991.98px){ /* Medium */
    h1.display-1{
        font-size: 4em;
    }

    #premium h1.display-1{
        font-size: 3em;
    }

    #premium h2{ 
        font-size: 1.5em; 
    }
}

@media (min-width: 992px) and (max-width: 1199.98px){ /* Large */
    h1.display-1{
        font-size: 5em;
    }

    #premium h1.display-1{
        font-size: 5em;
    }

    #premium h2{ 
        font-size: 2em; 
    }
}

@media (min-width: 1200px){ /* Extra Large */
    h1.display-1{
        font-size: 6em;
    }

    #premium h1.display-1{
        font-size: 5em;
    }

    #premium h2{ 
        font-size: 2em; 
    }
}

/* ----- TOPO ----- */

/* Barra de Navegação */
nav.bg-opaco{
    padding: 15px 0;
    background: #0808089a;
}

.navbar-dark .navbar-nav .nav-link{
    color: white;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: #9bf0e1;
}

.divisor{
    width: 1px;
    margin: 10px 20px;
    background: white;
}

/* ----- CONTEÚDO ----- */

.caixa{
    padding-top: 20px;
    padding-bottom: 20px;
}


/* Tipografia */
h1.display-1{
    font-weight: 900;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
    color: white;
}

h2{
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

h3{
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

h4{
    color: #919496;
    font-size: 0.9em;
    text-transform: uppercase;
}

h5{
    font-weight: 900;
    font-size: 1em;
}

/* Capa */
.capa{
    text-align: center;
}

.btn-custom{
    color: white;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    padding: 10px 25px;
    transition: background 0.4s, color 0,4s;
}

.btn-roxo{
    background: #7c25f8;
}

.btn-roxo:hover{
    background: #6207e3;
    color: white;
}

.btn-branco{
    border: 1px solid white;
}

.btn-branco:hover{
    background-color: white;
    color: black;
}

.carousel-control-next, .carousel-control-prev{
    width: 5%;
}

/* Serviços */

#servicos{
    background: white;
}

#servicos h3, h2{
    color: #7c25f8;
}

/* Recursos */

#recursos{
    color: white;
}

#recursos h2{
    color: white;
}

#recursos h3{
    color: #9bf0e1;
}

.rotacionar{
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    padding-left: 80px;
}

/* ----- RODAPÉ ----- */
footer{
    background: black;
    padding: 50px 0 20px 0;
    position: relative;
}

footer ul{
    padding-bottom: 20px;
}

footer .navbar-nav a{
    color: white;
    font-size: 0.9em;
}

footer .navbar-nav a:hover{
    color: #9bf0e1;
    text-decoration: none;
}

footer ul{
    list-style: none;
}

footer ul li{
    float: right;
    margin: 0 6px;
}


/* Configurações de Outras Páginas */

/* Tipografia */
#premium h1.display-1{
    font-weight: 900;
    letter-spacing: -0.05em;
    margin-bottom: 40px;
    margin-top: 60px;
    color: white;
}

#premium h2{ 
    font-weight: 900;
    letter-spacing: -0.015em;
    line-height: 1.3;
    margin-bottom: 50px;  
    color: white;
}

#vantagens h2{
    color: black;
    margin: 100px;
}

.obs{
    width: 55%;
    font-size: 0.9em;
    margin: 30px auto;
    color: white;
}

.obs a{
    color: white;
    text-decoration: underline;
}

/* Sessão Vantagens */

#vantagens{
    background: white;
    text-align: center;
}

#vantagens img{
    width: 142px;
    height: 142px;
}