<%- include("../../../partials/header.ejs")  %> 

<%- include("../../../partials/navbarSupermarket.ejs") %>

<div class="container">
    <div class="row align-items-center">
        <div class="col-6">
            <h4>Vendedores</h4>
        </div>

        <div class="col-6 d-flex justify-content-end">
            <a href="/supermarket/seller" class="button-add">Adicionar Vendedor</a>
        </div>
    </div>

    <div class="table-responsive mt-4">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Maurício de Moura</td>
                <td>123456789-45</td>
                <td>
                    <div class="d-flex justify-content-around">
                        <a href="/seller/1" class="action-item">
                            <img src="/icon/edit.png" class="img-fluid" alt="Editar">
                            <span class="tooltip-text">Editar</span>
                        </a>

                        <a href="" class="action-item">
                            <img src="/icon/delete.png" class="img-fluid" alt="Deletar">
                            <span class="tooltip-text">Deletar</span>
                        </a>
                    </div>
                </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Vinicius</td>
                <td>789456123-78</td>
                <td>
                    <div class="d-flex justify-content-around">
                        <a href="" class="action-item">
                            <img src="/icon/edit.png" class="img-fluid" alt="Editar">
                            <span class="tooltip-text">Editar</span>
                        </a>

                        <a href="" class="action-item">
                            <img src="/icon/delete.png" class="img-fluid" alt="Deletar">
                            <span class="tooltip-text">Deletar</span>
                        </a>
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
    
</div>

<%- include("../../../partials/footer.ejs")  %> 