<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/seller">WebCardo</a>
      <div class="ms-auto" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/seller">Home</a>
        </div>
      </div>
    </div>
</nav>