<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/customer">WebCardo</a>
      <div class="ms-auto" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/customer">Home</a>
          <a class="nav-link" href="/supermarkets">Super Mercados</a>
          <a class="nav-link" href="/shopping">Compras</a>
          <a class="nav-link" href="/customer/profile">Perfil</a>
        </div>
      </div>
    </div>
</nav>